h1 {
  margin-bottom: 30px;
}

body {
  padding-top: 60px;
  font: 12px arial;
}

.column h4 {
  font: 24px arial;
  color: #fff;
  padding: 5px 10px;
  margin: 0;
  background: #ccc;
  white-space:nowrap;
  border-bottom: 1px solid #fff;
}

.column {
  background: #eee;
  min-height: 600px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  width:14.5%;
  margin-left: 2%;
}

/*.small-column {
    width:150px
}

.small-column h4 {
    font-size: 20px;
}

.big-column {
    font-size: ;
}*/

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    /* Retina-specific stuff here */

    .column {
        width:14.5%;
    }

    .column h4 {
        font-size: 19px;
    }
}



div.clear {
  clear: both;
}

.ticket {
  background: #B8860B;
  color: #fff;
  padding: 5px;
  margin: 15px -8px 20px 8px;
  border-bottom: 1px solid #CBB768;
}

.ticket p.issueNumber {
  background: #e5a50b;
  padding: 3px 5px 3px 5px;
  margin-left: -5px;
  border-bottom: 1px solid #CBB768;
  margin-right: -8px;
  position:relative;
}

.ticket span.estimatedHours {
  float: right;
  text-transform: uppercase;
  font-size: 9px;
}

span.estimatedHours abbr {
  border: none;
}

.ticket p.issueNumber a {
  display: block;
  color: #fff;
  font-size: 14px;
}

.ticket p.issueNumber a:hover {
  text-decoration: none;
}

div.ticketProgressBarContainer {
  background: #596348;
  height: 4px;
}

div.ticketProgressBar {
  background: #A1BEE6;
  height: 3px;
  border-bottom: 1px solid #5CB2C3;
}

div.ticketProgressBarContainer.ratio0 {
    display: none;
}

.ticket.unitScotland {
  background-color: #5E98B6;
  border-bottom-color: #4E788E;
}


.ticket.unitScotland p.issueNumber {
  background-color: #A3C4D5;
  border-bottom-color: #4E788E;
}

.ticket.unitEngland {
  background-color: #D5778E;
  border-bottom-color: #B4687A;
}


.ticket.unitEngland p.issueNumber {
  background-color: #EDC5CF;
  border-bottom-color: #B4687A;
}

.ticket.unitIreland {
  background-color: #B9D48B;
  border-bottom-color: #ABC481;
}


.ticket.unitIreland p.issueNumber {
  background-color: #CCE0AB;
  border-bottom-color: #ABC481;
}

.assignee {
  font-size: small;
  font-style: italic;
}



.subject {
  font-size: 12px;
  overflow: hidden;
  max-height: 43px;
}

.jqui-dnd-target-over {
  background-color: #ccc;
}

.jqui-dnd-target-over h4 {
  background-color: #aaa;
}

.jqui-dnd-item-over {
}

.fullscreen {
    padding-top: 7px;
}

.fullscreen .navbar {
    display: none;
}

.controls button {
  margin: 5px;
}

.unit12, .unit12 p.issueNumber,
.black {
    background: #000;
    border-bottom-color:#000;
}

.black p.issueNumber {
  background: #555;
  border-bottom-color:#000;
}

.unit18, .unit18 p.issueNumber,
.green {
    border-bottom-color:#70c17a;
    background:#3e7144;
}

.green p.issueNumber {
    background:#70c17a;
    border-bottom-color:#3e7144;
}

.unit14, .unit14 p.issueNumber,
.purple {
    border-bottom-color: #b57bc6;
    background:#7e3c91;
}

.purple p.issueNumber {
    background: #b57bc6;
    border-bottom-color:#7e3c91;
}

.unit15, .unit15 p.issueNumber,
.orange {
    border-bottom-color: #f78512;
    background: #b96f25;
}

.orange p.issueNumber  {
    background: #f78512;
    border-bottom-color: #b96f25;
}

.unit13, .unit13 p.issueNumber,
.blue {
    border-bottom-color: #6a9fd0;
    background:#113b62;
}

.blue p.issueNumber {
    background: #6a9fd0;
    border-bottom-color:#113b62;
}

.unit17, .unit17 p.issueNumber,
.pink {
    border-bottom-color: #e1818b;
    background:#ba737a;
}

.pink p.issueNumber {
    background: #e1818b;
    border-bottom-color:#ba737a;
}

.red {
    border-bottom-color: #800000;
    background: #e40000;
}

.red p.issueNumber {
    background: #800000;
    border-bottom-color: #e40000;
}

.cyan {
    border-bottom-color: #008080;
    background: #20B2AA;
}

.cyan p.issueNumber {
  background: #008080;
  border-bottom-color: #20B2AA;
}

.grey {
  border-bottom-color: #696969;
  background: #808080;
}

.grey p.issueNumber {
  background: #696969;
  border-bottom-color: #808080;
}

.magenta {
  border-bottom-color: #8B008B;
  background: #df00df;
}

.magenta p.issueNumber {
  background: #8B008B;
  border-bottom-color: #df00df;
}

.brown {
  border-bottom-color: #8B4513;
  background: #A0522D;
}

.brown p.issueNumber {
  background: #8B4513;
  border-bottom-color: #A0522D;
}


.last-update {
    padding-left: 10px;
    margin-top: -10px;
    margin-bottom: 5px;
    position: fixed;
    bottom: 0;
    background: #fff;
    padding: 1px;
    z-index:10;
}

.options.modal {
    width: 800px;
    margin-left: -400px;
}

.options.modal.fade {
    top: -100%;
    left:-100%;
}

.form-group {
    padding: 20px 0;
    border-bottom: 1px solid #AAA;
}

.form-group h5 {
    margin:0 0 5px 0;
    cursor: pointer;
}

.form-group .expand-link {
    cursor: pointer;
}

.form-element {
    width: 380px;
    display: inline-block;
    margin: 5px 0;
}

input[type="radio"], input[type="checkbox"] {
    margin-top:-2px;
}

.modal-body {
    max-height:600px;
}

#projects {
    width: 300px;
}
