<div class="options modal fade" ng-controller="OptionsController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="toggleSettings()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Настройки</h4>
            </div>
            <div class="modal-body">
                <form name="optionsForm" class="form-inline">
                    <div class="form-group">
                        <div class="form-element">
                            <label for="projects" class="control-label">Проект: </label>
                            <select id="projects" class="form-control" ng-model="formData.project" ng-change="loadCategories()">
                                <option value="-1" selected>Все</option>
                            </select>
                        </div>
                        <div class="form-element">
                            <label for="project_category" class="control-label">Категория: </label>
                            <select id="project_category" ng-model="formData.project_category" class="form-control">
                                <option value="-1" selected>Все</option>
                            </select>
                        </div>
                        <div class="form-element">
                            <label for="tracker" class="control-label">Трекер: </label>
                            <select id="tracker" ng-model="formData.tracker" class="form-control">
                                <option value="-1" selected>Все</option>
                            </select>
                        </div>
                        <div class="form-element">
                            <label for="ticketscount" class="control-label">Количество тикетов: </label>
                            <input type="number" id="ticketscount" ng-model="formData.tickets" class="form-control" value="{{tickets}}"/>
                        </div>
                        <div class="form-element">
                            <label for="assigned" class="control-label">Назначена: </label>
                            <select id="assigned" ng-model="formData.assigned" class="form-control">
                                <option value="-1" selected>Все</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group collapse">
                        <h5 class="navbar-link" ng-click="toggleGroup($event)">Цвета для категорий <span class="icon-chevron-down"></span></h5>
                        <select id="category" ng-model="colorCategory" ng-change="loadColor()" class="form-control">
                            <option value="-1" selected>Нет</option>
                        </select>
                        <select id="colors" ng-model="selectedColor" class="form-control">
                            <option value="-1" selected>Нет</option>
                            <option value="black">черный</option>
                            <option value="green">зеленый</option>
                            <option value="purple">фиолетовый</option>
                            <option value="orange">оранжевый</option>
                            <option value="blue">синий</option>
                            <option value="pink">розовый</option>
                            <option value="red">красный</option>
                            <option value="cyan">голубой</option>
                            <option value="grey">серый</option>
                            <option value="magenta">пурпурный</option>
                            <option value="brown">коричневый</option>
                        </select>
                        <button ng-click="setColor()" class="btn btn-info">Назначить</button>
                    </div>
                    <div class="form-group collapse">
                        <h5 class="navbar-link" ng-click="toggleGroup($event)">Цвета для подпроектов <span class="icon-chevron-down"></span></h5>
                        <select id="subprojects" ng-model="colorSubproject" ng-change="loadSubColor()" class="form-control">
                            <option value="-1" selected>Нет</option>
                        </select>
                        <select id="subcolors" ng-model="selectedSubColor" class="form-control">
                            <option value="-1" selected>Нет</option>
                            <option value="black">черный</option>
                            <option value="green">зеленый</option>
                            <option value="purple">фиолетовый</option>
                            <option value="orange">оранжевый</option>
                            <option value="blue">синий</option>
                            <option value="pink">розовый</option>
                            <option value="red">красный</option>
                            <option value="cyan">голубой</option>
                            <option value="grey">серый</option>
                            <option value="magenta">пурпурный</option>
                            <option value="brown">коричневый</option>
                        </select>
                        <button ng-click="setSubColor()" class="btn btn-info">Назначить</button>
                    </div>
                    <div class="form-group collapse">
                        <h5 class="navbar-link" ng-click="toggleGroup($event)">Цвета для пользователей <span class="icon-chevron-down"></span></h5>
                        <select id="users" ng-model="colorUser" ng-change="loadUserColor()" class="form-control">
                            <option value="-1" selected>Нет</option>
                        </select>
                        <select id="usercolors" ng-model="selectedUserColor" class="form-control">
                            <option value="-1" selected>Нет</option>
                            <option value="black">черный</option>
                            <option value="green">зеленый</option>
                            <option value="purple">фиолетовый</option>
                            <option value="orange">оранжевый</option>
                            <option value="blue">синий</option>
                            <option value="pink">розовый</option>
                            <option value="red">красный</option>
                            <option value="cyan">голубой</option>
                            <option value="grey">серый</option>
                            <option value="magenta">пурпурный</option>
                            <option value="brown">коричневый</option>
                        </select>
                        <button ng-click="setUserColor()" class="btn btn-info">Назначить</button>
                    </div>
                    <div class="form-group collapse">
                        <h5 class="navbar-link" ng-click="toggleGroup($event)">Дополнительные настройки <span class="icon-chevron-down"></span></h5>
                        <input id="autoscroll" type="checkbox" ng-model="formData.autoscroll"/>
                        <label for="autoscroll">Включить автоскроллинг</label>
                        <br/>
                        <input id="designer" type="checkbox" ng-model="formData.designer"/>
                        <label for="designer">Я &mdash; дизайнер</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-click="toggleSettings()" type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button ng-click="clearSettings()" type="button" class="btn btn-danger">Сбросить настройки</button>
                <button ng-click="saveSettings()" type="button" class="btn btn-primary">Сохранить настройки</button>
            </div>
        </div>
    </div>
</div>